<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/accounts/css/style.css">
	<script src="../../static/accounts/js/scripts.js"></script>
	
    <title>Document</title>
</head>
<body>


	<div class="container">
		
	
		<form method="post" action="">
			{% csrf_token %}
			<h2 class="h3 mb-3 fw-normal">Please sign in</h2>
			
			{% if msg %}
				<h6 class="text-danger" >{{msg}}</h6>
			{% endif %}
			<div class="form-floating mt-2">
				<label for="floatingInput">User Name</label>
				<input name="username" type="text" class="form-control"  placeholder="username">
			  </div>
	
	
			<div class="form-floating mt-2">
				<label for="floatingPassword">Password</label>
			  <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
			</div>
			
			<button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Log In</button>
			<p class="mt-5 mb-3 text-muted">© 2017–2022</p>
			<h5>You don't have an account ? you can <a style="color: rgb(59, 59, 255);" href="{% url 'url_accounts:register_user' %}">register</a></h5>
		  </form>
	
	
	</div>
	

</body>
</html>