{% extends 'base.html' %}

{% block title %} Add a New Project {% endblock %}

{% block content %}


<div class="container">
<h2>New order</h2>

    <div class="row">
        <form class="col-6" action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="mt-3">
              <label class="form-label">Title of Order</label>
              <input  type="text" name="order_name" class="form-control" required/>
            </div>
        
            
            <div class="mt-3">
              <label class="form-label">Order Details</label>
              <textarea class="form-control" name="content"></textarea>
            </div>
        
              <input type="submit" class="btn btn-primary" value="New order" />
        </form>
    </div>

    

</div>



{% endblock %}