

{% extends 'base.html' %}

{% block title %}   {% endblock %}


{% block content %}


<div class="container p-3" style="overflow: hidden;">
        
      
    
       <div class="row">
        <div class="col-3">
            <div class="p-4 shadow " >
               
                <h4>{{details_project.user}}</h4> 
                <img src="{{details_project.image.url }}"  style="width: 100px;" />
                <a href="" class="text-decoration-none"><h4 class="mt-4">{{details_project.projects_name}}</h4></a>
                <h6>Release on:   {{details_project.created_at}}</h6>
                <h6><i class="bi bi-star-fill"></i> {{details_project.section}}</h6>
                <h6><i class="bi bi-star-fill"></i> {{ details_project.rating }}</h6>
                <h6><i class="bi bi-star-fill"></i> {{details_project.description}}</h6>
                {% if request.user.is_staff %}
                <a href="{% url 'url_main:update_project' details_project.id %}" class="btn btn-primary">update</a>
                <a href="{% url 'url_main:delete_project' details_project.id %}" class="btn btn-danger">delete</a>
                {%endif%}
               
            </div>  
        </div>
        <div class="col-8" style="height: auto;">
            <div class="p-4 shadow  " >
                <h4>{{details_project.user}}</h4> 
                <img src="{{details_project.image.url }}" class="" style="width: 100px;" />
                <a href="" class="text-decoration-none"><h4 class="mt-4">{{details_project.user.first_name}}</h4></a>
                {% if perms.customers.add_orders %}
        
                <a class="btn btn-outline-success" href="{% url 'url_customers:new_orders' details_project.user.id %}">Hire Me</a>
                {% endif %}
                
          
               
                <h6><i class="bi bi-star-fill"></i> {{details_project.section}}</h6>
                <h6><i class="bi bi-star-fill"></i> {{ details_project.rating }}</h6>
                <h6><i class="bi bi-star-fill"></i> {{details_project.description}}</h6>
                {% if request.user.is_staff %}
                <a href="{% url 'url_main:update_project' details_project.id %}" class="btn btn-primary">update</a>
                <a href="{% url 'url_main:delete_project' details_project.id %}" class="btn btn-danger">delete</a>
                {%endif%}
            
            </div>  
        </div>
       </div>



      <div class="col-6">
        <div class="  ">
            {% if request.user.is_authenticated %}
            <div class="mt-1">
                <div>
                    <form action="{% url  'url_main:add_comments' details_project.id %}" method="post">
                        {% csrf_token %} 
                        

                        <textarea name="content" class="form-control mt-3" placeholder="Your Comment here..."></textarea>
        
        
                        <input class="btn btn-primary mt-2" type="submit" value="Add Review" />
        
                    </form>
                </div>
            </div>
        
            {% else %}
        
            <div class="border shadow p-3 mt-1 ">
                <p>To add Comment please <a href="{% url 'url_accounts:login_user'%}">Sing In</a> or <a href="{% url 'url_accounts:register_user'%}">Sign Up</a></p>
            </div>
        
            {% endif %}
            <hr />

        </div>
    </div>

    <div  class=" col-6 p " >
        <h5>Comment :</h5>
        {% for comment in comments  %}
            <div class="p-2 border mt-2"  style="background-color: rgb(224, 224, 224);">

                <h6 style="color: brown;">{{ comment.user.username }}</h6>
                <!-- <h6>{{ comment.rating }} Stars</h6> -->
                <p>{{ comment.content }}</p>
                <a href="{% url 'url_main:delete_comment' comment.id   %}" class="btn btn-outline-danger" ><i  class="fas fa-trash"></i></a>

            </div>
        {% endfor %}
    </div>

   


</div>

{% endblock %}
   
   


