
{% extends 'base.html' %}

{% block title %}   {% endblock %}


{% block content %}
{% include 'base2.html' %}

<div class="container-fluid">

      <div class="row p-3">
        
        <div class="col-12 text-center  " >
            <div class="p-4 shadow row" >

                <div class="col-4" style="padding-left: 100px;" >
                    <div class=" card text-bg-danger  mb-3  " style="max-width: 18rem; ">
                        <div class="card-header">Orders</div>
                        <div class="card-body">
                          <h5 class="card-title">Orders Received</h5>
                          <h2>{{count_orders}}</h2>
                        </div>
                    </div> 
                </div>
                
                <div class="col-4" style="padding-left: 100px;">
                    <div class=" card text-bg-warning  mb-3 " style="max-width: 18rem;">
                        <div class="card-header">Orders Accepted</div>
                        <div class="card-body">
                          <h5 class="card-title">Count Orders Received</h5>
                        </div>
                        <h2>{{count_orders_accepted}}</h2>
                    </div> 
                </div>

                <div class="col-4" style="padding-left: 100px;">
                    <div class=" card   mb-3 " style="max-width: 18rem; background-color: green; color: white;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Success card title</h5>
                          <h2>{{ count_orders_complected }}</h2>
                    </div> 
            </div>
        </div>
       
      </div>
      
      <div class="row p-3" >
          {% for project in projects %}
        <div class="col-3" >
            <div class="p-4 shadow " style="overflow: hidden;">
                <a href="{% url 'url_main:project_details' project.id  %}" class="text-decoration-none"><h4 class="mt-4">{{project.projects_name}}</h4></a>
                <img src="{{project.image.url }}" class="w-50" style="width: 200px;" />
                <h6><i class="bi bi-star-fill"></i> {{project.section}}</h6>
                <h6><i class="bi bi-star-fill"></i> {{ project.rating }}</h6> 
                <div style="overflow: hidden;">
                  <h6><i class="bi bi-star-fill"></i> {{project.description}}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
        
      </div>



</div>

{% endblock %}
   
   


